@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050b14;
  color: #ffffff;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, #1e293b 1px, transparent 1px),
    linear-gradient(to bottom, #1e293b 1px, transparent 1px);
  background-size: 40px 40px;
}
